<template>
    <div>
        <div ref="loader" id="ajax-loading"></div>
        

        <div class="section-container main-content-view bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 offset-lg-3 offset-md-3">
                        <!-- Begin Account Settings -->
                        <account-information></account-information>
                        <!-- End Account Settings -->
                        <account-list-component></account-list-component>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import AccountInformationComponent from './AccountInformationComponent.vue';
import AccountListComponent from './AccountListComponent.vue';
export default {
    data(){
        return {
        }
    },
    components : {
        'account-information'   : AccountInformationComponent,
        'account-list-component': AccountListComponent,
    },
    methods: {
        
    },
    mounted(){
        
    }
}
</script>