<template>
    <div>
        <div ref="loader" id="ajax-loading"></div>
        <modal name="account_form" :adaptive="true" :height="'auto'">
            <div class="modal-header">
                <h4 class="modal-title">Account Form</h4>
                <span class="modal-close" @click="$modal.hide('account_form')">
                    <i class="fas fa-times"></i>
                </span>
            </div>
            <div class="modal-body">
                <div class="row no-margin">
                    <div class="col-md-12">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control mb-2" v-model="form.first_name" maxlength="100" minlength="3">
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-md-12">
                        <label for="middle_name">Middle Name</label>
                        <input type="text" class="form-control mb-2" v-model="form.middle_name" maxlength="100" minlength="3">
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-md-12">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control mb-2" v-model="form.last_name" maxlength="100" minlength="3">
                    </div>
                </div>
                <hr>
                <div class="row no-margin">
                    <div class="col-md-12">
                        <label for="last_name">Username</label>
                        <input type="text" class="form-control mb-2" v-model="form.username" maxlength="100" minlength="3">
                    </div>
                </div>
                <div class="row no-margin" v-if="form.id">
                    <div class="col-md-12">
                        <label for="last_name">New Password</label>
                        <input type="password" class="form-control mb-2" v-model="form.new_password" maxlength="100" minlength="3">
                    </div>
                </div>
                <div class="row no-margin" v-else>
                    <div class="col-md-12">
                        <label for="last_name">Password</label>
                        <input type="password" class="form-control mb-2" v-model="form.new_password" maxlength="100" minlength="3">
                    </div>
                </div>
                <hr>
                <div class="row no-margin">
                    <div class="col-md-6">
                        <label for="status">Status</label>
                        <toggle-button :value="form.status" @change="form.status = !form.status"/>
                    </div>
                </div>
                <div class="row no-margin" v-if="form.id">
                    <div class="col-md-12">
                        <hr class="bg-white-transparent-2">
                        <button class="btn btn-danger btn-sm" @click="removeUser()">
                            <i class="fas fa-trash-alt"></i> Delete
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row no-margin">
                    <div class="col-md-12">
                        <button class="pull-right btn btn-md btn-primary" @click="submitForm()"> <i class="fas fa-check-alt"></i> Submit</button>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>
<script>
export default {
    props: ['dialog_data', 'dialog_type'],
    data () {
        return {
            form : new Form({
                // id          : 0,
                first_name  : '',
                middle_name : '',
                last_name   : '',
                username    : '',
                new_password: '',
                // type        : 1,
                status      : true,
            }),
        }
    },
    watch : {
        'dialog_data': function(newVal){
            if(newVal){

                this.form = new Form(newVal);
                this.form.status = (this.form.status == 1) ? true : false;
            }
        },
        'dialog_type' : function(newVal){
            if(newVal == 'new'){
                this.resetForm();
            }
        },
    },
    methods: {
        submitForm(){
            this.$refs.loader.style.display = "block";
            // this.form.type_id = this.form.type;
            this.form.post('/updateUser')
            .then((response) => {
                this.$noty.success("Success Saved");
                this.$events.fire('update_account_list');
                this.resetForm();
                this.$refs.loader.style.display = 'none';
                this.$modal.hide('account_form');
            })
            .catch((error) => {
                this.$refs.loader.style.display = 'none';
                console.log(error);
                this.$noty.error('Recheck form input');
            })
        },
        resetForm(){
            this.form = new Form({
                // id          : 0,
                first_name  : '',
                middle_name : '',
                last_name   : '',
                username    : '',
                new_password: '',
                // type        : '',
                status      : false,
            })
        },
        removeUser(){
            this.$alertify.confirmWithTitle("Delete", "Are you sure to delete this User?", 
            ()=> {
                // Axios Request
                this.axios.post('/deleteUser', {
                        id : this.dialog_data.id
                })
                .then((response) => {                
                    this.$noty.success(response.data.message);
                    this.$modal.hide('account_form');
                    this.$events.fire('update_account_list');
                })
                .catch((error) => {                    
                    this.$noty.error("Something went wrong please try again later.")
                });
                // End of Request
            },() =>this.$noty.error("Cancel: Item not removed")
            )
        }
    },
    mounted(){
        if(this.dialog_data){
            this.form = new Form(this.dialog_data);
        }
        else{
            this.resetForm();
        }
        
    }
}
</script>