<template>
    <div>
        <account-form-component :dialog_data="this.account_data" :dialog_type="this.dialog_type"></account-form-component>
        <div class="card border-0 bg-dark text-white mb-3">
            <!-- begin card-body -->
            <div class="card-body">
                <!-- begin title -->
                <div class="mb-3 text-grey">
                    <b>USERS LIST</b>
                    <span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Users List"></i></span>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-default" @click="addAccount()" v-if="getGuardRole == 1"><i class="fas fa-plus"></i> Add New User</button>
                    </div>
                </div>
                <!-- end title -->
                <!-- begin product -->                
                <div class="account-list" v-for="account in accountList" @click="updateAccount(account)">
                    <div class="account-action">
                        <a >
                            <i class="far fa-user"></i>
                        </a>
                    </div>
                    <div class="account-name">
                        <div class="line-description">{{account.last_name}}, {{account.first_name}} {{account.middle_name}}</div>
                        <div class="text-grey line-description">{{account.username}}</div>
                    </div>
                    <div class="account-status">
                        <div class="text-grey f-s-10">
                            <span class="label label-success" v-if="account.status == 1">Active</span>
                            <span class="label label-default" v-else-if="account.status == 0">Inactive</span>
                        </div>
                    </div>
                    <div class="account-type">
                        <div class="text-grey f-s-10">
                            <span class="text-bold text-success" v-if="account.type == 1">Admin</span>
                            <span class="text-bold text-warning" v-else-if="account.type == 2">Guest</span>
                        </div>
                    </div>
                    <div class="account-date">
                        <div class="f-s-11">{{ account.created_at | formatDateWord }}</div>                        
                    </div>                    
                </div>
                <!-- end product -->
            </div>
            <!-- end card-body -->
        </div>
    </div>
</template>
<script>
import AccountFormComponent from './AccountFormComponent.vue';
export default {
    data(){
        return {
            dialog_type : 'new',
            account_data : {},
            accountList  : {},
        }
    },
    components:{
        'account-form-component': AccountFormComponent,
    },
    computed : {
        getGuardType(){
            return this.$store.state.global_guard_type;
        },
        getGuardRole(){
            return this.$store.state.global_guard_role;
        },
        
    },
    methods : {
        addAccount(){
            this.account_data = {};
            this.dialog_type = 'new';
            this.$modal.show('account_form');
        },
        getAccountList(){
            this.axios.get('/getUsers')
            .then(response => {
                this.accountList = response.data.reverse();
            })
            .catch(error => {
                console.log(error.response.data);
            })
        },
        updateAccount(data){
            if(this.$store.state.global_guard_role == 1){
                this.account_data = data;
                this.dialog_type = 'update';
                this.$modal.show('account_form');
            }
            else{
                this.$noty.error("Super Admin Access Only")
            }
        }
    },
    mounted(){
        this.getAccountList();
        this.$events.$on('update_account_list', (eventData) => {
            // console.log(eventData);
            this.getAccountList();
        });
    }
}
</script>