<template>
    <div>
        <div ref="loader" id="ajax-loading"></div>
        <!-- BEGIN #overview -->
        <task-form-component :dialog_data="this.contest_data"></task-form-component>

        <div id="contest" class="section-container main-content-view bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <h3>All Tasks</h3>
                    </div>
                    
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-sm pull-right m-b-20" @click="addContest"><i class="fas fa-plus"></i> New Task</button>
                    </div>
                    <div class="col-md-12">
                        <!-- begin card -->
                        <div class="card border-0 bg-dark text-white mb-3" v-for="contest in contestData" v-if="contestData.length > 0">
                            <!-- begin card-body -->
                            <div class="card-body contest-details">
                                <div class="contest-title">
                                    <h4><router-link :to="'/contestant/'+contest.id">{{ contest.name }} </router-link> </h4>
                                    <p class="no-margin contest-description"> {{ contest.description }}</p>
                                </div>
                                <div class="contest-date">
                                    <div><b for="">From:</b> {{ contest.date_from | formatDate }}</div>
                                    <div><b for="">To:</b> {{ contest.date_to | formatDate }}</div>
                                </div>
                                <div class="contest-creator">
                                    <p class="no-margin">{{ contest.created_at | formatDate }}</p>
                                </div>
                                <div class="action">
                                    <center>
                                        <button class="btn btn-default btn-sm" @click="updateContest(contest)">Edit</button>
                                        <button class="btn btn-danger btn-sm" @click="deleteContest(contest.id)">Delete</button>
                                    </center>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <div v-else>
                            <h4>No result Found</h4>
                        </div>
                        <!-- end card -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END # -->
    </div>
</template>
<script>
import TaskFormComponent from './TaskFormComponent.vue';
export default {
    data () {
        return {
            contestData   : {},
            name          : '',
            contest_data  : {},
        }
    },
    watch : {
        'country_filter' : function(newVal){
            // if(newVal){
                this.getAllContest();
                this.getTotalContestVotes();
            // }
        }
    },
    computed : {
        getGuardType(){
            return this.$store.state.global_guard_type;
        },
        getGuardRole(){
            return this.$store.state.global_guard_role;
        },
        
    },
    components:{
        'task-form-component' : TaskFormComponent,
    },
    methods:{
        addContest () {
            this.$modal.show('task_form', {
                name: this.name
            }, {
                // width: 300,
                // height: 300
            })
        },
        updateContest(data) {
            this.contest_data = data;
            this.$modal.show('task_form', {
                name: this.name,
            }, {
                // width: 300,
                // height: 300
            })
        },  
        getAllContest(){
            this.axios.get('/getAllTask',{
                params : {
                    country : this.country_filter,
                    role : this.$store.state.global_guard_role,
                }
            })
            .then((response) => {
                this.contestData = response.data;
            })
            .catch((error) => {
                // this.clearAll();
                console.log(error.response.data)
            })
        },
        viewContest(){
        },
        deleteContest(id){
            this.$alertify.confirmWithTitle("Delete", "Are you sure to delete this task?", 
            ()=> {
                // Axios Request
                this.axios.post('/removeTask', {
                        id : id
                })
                .then((response) => {
                    this.getAllContest();
                    this.getTotalContestVotes();
                    this.$noty.success(response.data.message);
                })
                .catch((error) => {
                    console.log(error);
                    this.$noty.error("Something went wrong please try again later.")
                });
                // End of Request
            },() =>this.$noty.error("Cancel: Item not removed")
            )
        },
    },
    created(){
        this.getAllContest();
    },
    mounted(){
        this.$events.on('update_contest_table', (data) => {
            this.getAllContest();
        });
        
    }
}
</script>