<template>
    <div>
        <div ref="loader" id="ajax-loading"></div>
        <modal name="task_form" :adaptive="true" :height="'auto'">
            <div class="modal-header">
                <h4 class="modal-title">Task Form</h4>
                <span class="modal-close" @click="$modal.hide('task_form')">
                    <i class="fas fa-times"></i>
                </span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label for="">Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="name" placeholder="New Task Name" v-model="form.name" required maxlength="150" minlength="3">
                        <div v-if="form.errors.has('name')" v-html="form.errors.get('name')" class="text-danger"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="">Description</label>
                        <textarea name="description" id="description" v-model="form.description" cols="20" rows="5" class="form-control" minlength="3"></textarea>
                    </div>
                </div>
                <h4>Duration</h4>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">From <span class="text-danger">*</span></label>
                        <v-datepicker v-model="form.date_from" type="datetime" valueType="format" required format="YYYY-MM-DD HH:mm:ss"></v-datepicker>
                        <div v-if="form.errors.has('date_from')" v-html="form.errors.get('date_from')" class="text-danger"/>
                    </div>
                    <div class="col-md-6">
                        <label for="">To <span class="text-danger">*</span></label>
                        <v-datepicker v-model="form.date_to" type="datetime" valueType="format" required format="YYYY-MM-DD HH:mm:ss"></v-datepicker>
                        <div v-if="form.errors.has('date_to')" v-html="form.errors.get('date_to')" class="text-danger"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="pull-right btn btn-md btn-primary" @click="submitForm()"> <i class="fas fa-check-alt"></i> Submit</button>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>
<script>
export default {
    props: ['dialog_data'],
    data(){
        return {
            form : new Form({
                name        : '',
                description : '',
                date_from   : '',
                date_to     : '',

            })
        }
    },
    watch : {
        'dialog_data': function(newVal){
            if(newVal){
                this.form = new Form(newVal);
            }
        },
        // 'country_data': function(newVal){
        //     if(newVal)
        // }
    },
    methods: {
        submitForm(){
            this.$refs.loader.style.display = "block";
            this.form.post('/saveTask')
            .then((response) => {
                this.$noty.success("Success Saved");
                this.$events.fire('update_contest_table');
                this.form.reset();
                this.$refs.loader.style.display = 'none';
                this.$modal.hide('task_form');
            })
            .catch((error) => {
                this.$refs.loader.style.display = 'none';
                console.log(error);
                this.$noty.error('Recheck form input');
            })
        },
        resetForm(){
            this.form = new Form({
                id          : NULL,
                name        : '',
                description : '',
                date_from   : '',
                date_to     : '',
            })
        },
    },
    mounted(){
        if(this.dialog_data){
            this.form = new Form(this.dialog_data);
        }
        else{
            this.resetForm();
        }
    }
}
</script>