<template>
    <div>
        <div id="vote" class="section-container main-content-view bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <contestant-profile-component></contestant-profile-component>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <daily-vote-component></daily-vote-component>
                    </div>
                    <div class="col-md-12">
                        <all-vote-component></all-vote-component>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import AllVoteComponent from './AllVoteComponent.vue';
import DailyVoteComponent from './DailyVoteComponent.vue';
import ContestantProfileComponent from './ContestantProfileComponent.vue';
export default {
    data(){
        return{
            
        }
    },
    components: {
        'all-vote-component'          : AllVoteComponent,
        'daily-vote-component'        : DailyVoteComponent,
        'contestant-profile-component': ContestantProfileComponent,
    }
}
</script>