/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
    
/* Handle */
::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}
    
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9b9292; 
}
body{
    font-size: 12px;
}
.container{
    max-width: 80% !important;
}
.row{
    margin-bottom: 10px;
}
.header .header-logo{
    /* width: 25rem; */
    height: 3.5rem;
}
.brand-text {
    font-size: 14px;
}
.header .header-logo .brand-logo{
    /* border: 15px solid; */
    width: 2rem;
    height: 2rem;
    /* border-color: #00acac #007979 #004646; */
    margin: .375rem .75rem .375rem .625rem;
    -webkit-border-radius: 6px;
    background: url('../img/pet-logo.png');
    /* border-radius: 6px; */
    -webkit-box-shadow: 0 5px 5px -4px #000;
    box-shadow: 0 5px 5px -4px #000;
}
.header .header-logo img{
    display: inline-block;
}
.header .header-nav .nav>li>a{
    padding: 0 .9375rem;
}
.footer-copyright{
    padding: .5rem 0;
    bottom: 0;
    position: fixed;
    width: 100vw;
    z-index: 999;
}
.footer-copyright .copyright{
    float: none;
}
.custom-label{
    font-size: 16px
}
.custom-input{
    height: calc(1.5em + .75rem + 4px);
    padding: .375rem .75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.header-nav .navbar-collapse .router-link-active{
    /* background-color: rgba(0, 0, 0, .2) !important;
    color: #00acac !important;
    font-weight: bold; */
    color: white !important;
    background-color: rgba(0, 0, 0, .4) !important;
    font-weight: bold;
}
.header .header-nav .nav{
    display: flex;
    justify-content: flex-end;
}
.header .header-nav .nav>li>a{
    font-size: 13px;
}
.no-margin{
    margin: 0 !important;
}
.mt-1{
    margin-top: 1rem !important;
}
.mt-2{
    margin-top: 2rem !important;
}
.main-content-view{
    min-height: 90vh;
}
.uppercase{
    text-transform: uppercase;
}
.center{
    text-align: center;
}
.text-bold{
    font-weight: bold;
}
.text-white{
    color: white !important;
}
.text-white label{
    color: white !important;
}
.text-content{
    word-break: break-all !important;
}
.table thead th.sortable{
    color: #348fe2 !important;
}
/* .btn-xs{
    padding: .125rem .50rem;
    font-size: 12px;
} */
.btn.btn-xs{
    font-size:10px;
    line-height:18px;
    padding:1px 5px
}
.btn.btn-sm{
    font-size: 10px;
}
.header{
    z-index: 888;
}
.list-group{
    margin-bottom: 1rem;
    font-size: 12px;
    font-weight: 600;
    color:rgba(0, 0, 0, .8);
}
.list-group-item{
    padding: .5rem .75rem;
    font-size: 12px;
}
 /* Modal */
 .modal-vue-overlay{
    background: rgba(0, 0, 0, .4)!important;
}
.modal-vue-panel{
    background: #fff!important;
    overflow-y: visible!important;
}
.modal-vue-wrapper-show.modal-fade{
    z-index: 990;
}
.modal-vue--content-panel{
    font-size: 13px!important;
}
.modal-vue .close-icon i{
    font-size: 30px;
}
#ajax-loading{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/loader.gif');
    background-position: 50% 50%;
    background-color: rgba(255, 255, 255, 0.8);
    background-repeat: no-repeat;
}
/* Form */
.form-control{
    border: 1px solid #ced4da;
    font-size: 12px;
    height: calc(1em + 0.75rem + 4px);
}
label{
    font-size: 12px;
    font-weight: bold;
    color: #454545;
    display: flex;
}
.mx-datepicker{
    width: 100% !important;
}
/* Table */
.dataTables_length{
    display: inline-flex;
}
.custom-select.custom-select-sm, .custom-input.custom-input-sm, .custom-select .multiselect{
    margin: 0 8px;
    padding-right: 4rem;

}
.dataTables_length label{
    align-items: center;
}
.dataTables_length .multiselect{
    margin: 0 8px;
}
/* Multi Select */
.multiselect, .multiselect__input, .multiselect__single{
    font-size: 12px !important;
}
.multiselect__tags{
    padding: 4px 10px 0 8px !important;
}
.multiselect__tags{
    min-height: 1px !important;
}
/* .multiselect, .multiselect__select {
    height: 30px !important;
} */

.input-group .btn{
    border-radius: 0 !important;
    padding: .35rem .6rem !important;
}
/* List Group */
.list-group-item-title .email-user{
    background: transparent!important;
}
.list-group-item{
    border: 1px solid #ccc;
}
.list-group-item.unread{
    background-color: white;
}
.list-group-item.read{
    background-color: #f9f9f9;
}
/* List Email */
.inbox .list-email{
    border-top:1px solid #e4e7ea;
    border-bottom:1px solid #e4e7ea;
    margin:-1px 0;
}
.inbox .list-email>li.list-group-item{
    border:none;
    margin-bottom:0;
    padding:15px;
    position:relative;
    width:100%;
    overflow:hidden;
    -webkit-border-radius:0;
    border-radius:0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center
}
.inbox .list-email>li.list-group-item:after,.inbox .list-email>li.list-group-item:before{
    content:'';
    display:table;
    clear:both
}
.inbox .list-email>li.list-group-item+li.list-group-item{
    border-top:1px solid #e4e7ea
}
.inbox .list-email>li.list-group-item a{
    color:#2d353c;
    text-decoration:none
}
.inbox .list-email>li.list-group-item .email-info{
    max-width:calc(100% - 46px);
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1
}
.inbox .list-email>li.list-group-item .email-info>a{
    margin-top:-15px;
    margin-right:-15px;
    margin-bottom:-15px;
    padding:15px;
    max-width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.col-md-20 {
    flex: 0 0 20%;
    max-width: 20%;
}
.no_result_found{
    text-align: center;
    position: relative;
    display: block;
    width: 100%;    
}
.no_result_found img{
    width: 300px;
    height: auto;
    margin: auto;
}
.no_result_found p{
    padding-top: 10px;
    font-size: 14px;
}
.no_qr_code img{
    opacity: .4;
}
@media (max-width:767.98px){
    .inbox .list-email>li.list-group-item .email-info>a{
        display:block
    }
}
.inbox .list-email>li.list-group-item .email-user{
    width:30px;
    height:30px;
    min-width:30px;
    overflow:hidden;
    font-size:18px;
    line-height:30px;
    text-align:center;
    color:#6f8293;
    background:#c6ced5;
    margin:-5px 0;
    -webkit-border-radius:30px;
    border-radius:30px
}
.inbox .list-email>li.list-group-item .email-user img{
    max-width:100%;
    display:block
}
.inbox .list-email>li.list-group-item .email-sender{
    display:block;
    width:200px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
@media (max-width:1199.98px){
    .inbox .list-email>li.list-group-item .email-sender{
        width:160px
    }
}
@media (max-width:991.98px){
    .inbox .list-email>li.list-group-item .email-sender{
        width:120px
    }
}
@media (max-width:767.98px){
    .inbox .list-email>li.list-group-item .email-sender{
        width:auto;
        font-size:14px;
        padding-right:90px
    }
}
.inbox .list-email>li.list-group-item .email-title{
    display:block;
    line-height:20px;
    width:300px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
@media (min-width:768px){
    .inbox .list-email>li.list-group-item .email-title{
        padding-left:15px
    }
}
@media (max-width:1199.98px){
    .inbox .list-email>li.list-group-item .email-title{
        width:auto;
        -webkit-box-flex:1;
        -ms-flex:1;
        flex:1
    }
}
@media (min-width:768px){
    .inbox .list-email>li.list-group-item .email-title+.email-desc{
        padding-left:20px
    }
    .inbox .list-email>li.list-group-item .email-title+.email-desc:before{
        content:'';
        position:absolute;
        left:6px;
        top:8px;
        width:4px;
        height:4px;
        background:#9ba8b4;
        -webkit-border-radius:6px;
        border-radius:6px
    }
}
.inbox .list-email>li.list-group-item .email-desc{
    display:block;
    position:relative;
    color:#4e5c68;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1
}
@media (max-width:1199.98px){
    .inbox .list-email>li.list-group-item .email-desc{
        display:none
    }
}
@media (max-width:767.98px){
    .inbox .list-email>li.list-group-item .email-desc{
        display:block;
        padding-right:0
    }
}
.inbox .list-email>li.list-group-item .email-time{
    display:block;
    padding:0 15px 0 0;
    font-size:11px;
    font-weight:500;
    color:#6f8293;
    text-align:right;
    width:150px;
    position:absolute;
    right:0;
    top:15px;
    height:20px;
    /* background:#fff; */
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:flex-end;
    -ms-flex-pack:flex-end;
    justify-content:flex-end
}
@media (max-width:1199.98px){
    .inbox .list-email>li.list-group-item .email-time{
        width:90px
    }
}
.inbox .list-email>li.list-group-item .email-checkbox .custom-checkbox{
    width:16px;
    padding-left:16px
}
.inbox .list-email>li.list-group-item .email-checkbox .custom-checkbox .custom-control-label::after,.inbox .list-email>li.list-group-item .email-checkbox .custom-checkbox .custom-control-label::before{
    left:-16px
}
.inbox .list-email>li.list-group-item .email-checkbox+.email-user{
    margin-left:15px
}
.inbox .list-email>li.list-group-item.unread .email-title{
    font-weight:600;
    color:#2d353c
}
.inbox .list-email>li.list-group-item.unread .email-sender{
    font-weight:600
}
.inbox .list-email>li.list-group-item.selected{
    background:#fffceb
}
.inbox .list-email>li.list-group-item.selected .email-time{
    background:#fffceb
}
.scroll-h{
    overflow-y: scroll;
}
.h-15{
    max-height: 15rem;
    overflow-y: auto;
}

/* Table VueTable  */
.vuetable-body-wrapper{
    font-size: 12px;
}
.table td, .table th{
    padding: .5rem;
}

/* Hover */
.onHover:hover{
    cursor: pointer;
}
select.form-control{
    padding: .25rem .5rem;
}
.user-bg{
    border-radius: 25px;
    color: white;
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.font-normal{
    font-weight: normal !important;
}
.mx-datepicker-range{
    width: 210px !important;
    margin-left: 1rem;
}
.media-list{
    padding-left:0;
    padding-right:0;
    list-style:none
}
.media-list.media-list-with-divider .media+.media{
    border-top:1px solid #d5dbe0;
    padding-top:15px
}
.dropdown-menu.media-list{
    max-width:360px;
    padding:0
}
.dropdown-menu.media-list .media{
    border-top:1px solid #e4e7ea;
    border-bottom:1px solid #e4e7ea;
    margin-top:0;
    margin-bottom:-1px
}
.dropdown-menu.media-list .media .media-object{
    height:30px;
    width:30px;
    line-height:30px;
    font-size:18px;
    color:#fff;
    text-align:center;
    -webkit-border-radius:6px;
    border-radius:6px
}
.dropdown-menu.media-list .media .media-object-icon{
    position:absolute;
    margin-left:30px;
    border:2px solid #fff;
    background:#fff;
    margin-top:-11px;
    display:block;
    width:22px;
    height:22px;
    text-align:center;
    font-size:18px;
    line-height:18px;
    -webkit-border-radius:40px;
    border-radius:40px
}
.dropdown-menu.media-list .media .media-left{
    padding-right:12px
}
.dropdown-menu.media-list .media .media-right{
    padding-left:12px
}
.dropdown-menu.media-list .media .media-heading{
    color:#2d353c;
    margin-bottom:0;
    font-size:12.5px;
    line-height:18px
}
.dropdown-menu.media-list .media p{
    text-overflow:ellipsis;
    overflow:hidden;
    margin-bottom:5px;
    line-height:14px;
    max-width:270px;
    color:#4e5c68;
    font-size:11px
}
.dropdown-menu.media-list .dropdown-header{
    font-weight:700;
    color:#2d353c;
    font-size:10px;
    background:#f2f3f4;
    padding:10px 15px
}
.dropdown-menu.media-list .dropdown-item{
    padding:10px 15px
}
.dropdown-menu.media-list .dropdown-footer{
    padding:10px 15px
}
.dropdown-menu-cart{
    margin-right: 0!important;
}
/* Margin and Padding */
.m-0{
    margin:0!important
}
.mt-0,.my-0{
    margin-top:0!important
}
.mr-0,.mx-0{
    margin-right:0!important
}
.mb-0,.my-0{
    margin-bottom:0!important
}
.ml-0,.mx-0{
    margin-left:0!important
}
.m-1{
    margin:4px!important
}
.mt-1,.my-1{
    margin-top:4px!important
}
.mr-1,.mx-1{
    margin-right:4px!important
}
.mb-1,.my-1{
    margin-bottom:4px!important
}
.ml-1,.mx-1{
    margin-left:4px!important
}
.m-2{
    margin:8px!important
}
.mt-2,.my-2{
    margin-top:8px!important
}
.mr-2,.mx-2{
    margin-right:8px!important
}
.mb-2,.my-2{
    margin-bottom:8px!important
}
.ml-2,.mx-2{
    margin-left:8px!important
}
.m-3{
    margin:16px!important
}
.mt-3,.my-3{
    margin-top:16px!important
}
.mr-3,.mx-3{
    margin-right:16px!important
}
.mb-3,.my-3{
    margin-bottom:16px!important
}
.ml-3,.mx-3{
    margin-left:16px!important
}
.m-4{
    margin:24px!important
}
.mt-4,.my-4{
    margin-top:24px!important
}
.mr-4,.mx-4{
    margin-right:24px!important
}
.mb-4,.my-4{
    margin-bottom:24px!important
}
.ml-4,.mx-4{
    margin-left:24px!important
}
.m-5{
    margin:48px!important
}
.mt-5,.my-5{
    margin-top:48px!important
}
.mr-5,.mx-5{
    margin-right:48px!important
}
.mb-5,.my-5{
    margin-bottom:48px!important
}
.ml-5,.mx-5{
    margin-left:48px!important
}
.p-0{
    padding:0!important
}
.pt-0,.py-0{
    padding-top:0!important
}
.pr-0,.px-0{
    padding-right:0!important
}
.pb-0,.py-0{
    padding-bottom:0!important
}
.pl-0,.px-0{
    padding-left:0!important
}
.p-1{
    padding:4px!important
}
.pt-1,.py-1{
    padding-top:4px!important
}
.pr-1,.px-1{
    padding-right:4px!important
}
.pb-1,.py-1{
    padding-bottom:4px!important
}
.pl-1,.px-1{
    padding-left:4px!important
}
.p-2{
    padding:8px!important
}
.pt-2,.py-2{
    padding-top:8px!important
}
.pr-2,.px-2{
    padding-right:8px!important
}
.pb-2,.py-2{
    padding-bottom:8px!important
}
.pl-2,.px-2{
    padding-left:8px!important
}
.p-3{
    padding:16px!important
}
.pt-3,.py-3{
    padding-top:16px!important
}
.pr-3,.px-3{
    padding-right:16px!important
}
.pb-3,.py-3{
    padding-bottom:16px!important
}
.pl-3,.px-3{
    padding-left:16px!important
}
.p-4{
    padding:24px!important
}
.pt-4,.py-4{
    padding-top:24px!important
}
.pr-4,.px-4{
    padding-right:24px!important
}
.pb-4,.py-4{
    padding-bottom:24px!important
}
.pl-4,.px-4{
    padding-left:24px!important
}
.p-5{
    padding:48px!important
}
.pt-5,.py-5{
    padding-top:48px!important
}
.pr-5,.px-5{
    padding-right:48px!important
}
.pb-5,.py-5{
    padding-bottom:48px!important
}
.pl-5,.px-5{
    padding-left:48px!important
}
.m-n1{
    margin:-4px!important
}
.mt-n1,.my-n1{
    margin-top:-4px!important
}
.mr-n1,.mx-n1{
    margin-right:-4px!important
}
.mb-n1,.my-n1{
    margin-bottom:-4px!important
}
.ml-n1,.mx-n1{
    margin-left:-4px!important
}
.m-n2{
    margin:-8px!important
}
.mt-n2,.my-n2{
    margin-top:-8px!important
}
.mr-n2,.mx-n2{
    margin-right:-8px!important
}
.mb-n2,.my-n2{
    margin-bottom:-8px!important
}
.ml-n2,.mx-n2{
    margin-left:-8px!important
}
.m-n3{
    margin:-16px!important
}
.mt-n3,.my-n3{
    margin-top:-16px!important
}
.mr-n3,.mx-n3{
    margin-right:-16px!important
}
.mb-n3,.my-n3{
    margin-bottom:-16px!important
}
.ml-n3,.mx-n3{
    margin-left:-16px!important
}
.m-n4{
    margin:-24px!important
}
.mt-n4,.my-n4{
    margin-top:-24px!important
}
.mr-n4,.mx-n4{
    margin-right:-24px!important
}
.mb-n4,.my-n4{
    margin-bottom:-24px!important
}
.ml-n4,.mx-n4{
    margin-left:-24px!important
}
.m-n5{
    margin:-48px!important
}
.mt-n5,.my-n5{
    margin-top:-48px!important
}
.mr-n5,.mx-n5{
    margin-right:-48px!important
}
.mb-n5,.my-n5{
    margin-bottom:-48px!important
}
.ml-n5,.mx-n5{
    margin-left:-48px!important
}
.m-auto{
    margin:auto!important
}
.mt-auto,.my-auto{
    margin-top:auto!important
}
.mr-auto,.mx-auto{
    margin-right:auto!important
}
.mb-auto,.my-auto{
    margin-bottom:auto!important
}
.ml-auto,.mx-auto{
    margin-left:auto!important
}
@media (min-width:360px){
    .m-xs-0{
        margin:0!important
    }
    .mt-xs-0,.my-xs-0{
        margin-top:0!important
    }
    .mr-xs-0,.mx-xs-0{
        margin-right:0!important
    }
    .mb-xs-0,.my-xs-0{
        margin-bottom:0!important
    }
    .ml-xs-0,.mx-xs-0{
        margin-left:0!important
    }
    .m-xs-1{
        margin:4px!important
    }
    .mt-xs-1,.my-xs-1{
        margin-top:4px!important
    }
    .mr-xs-1,.mx-xs-1{
        margin-right:4px!important
    }
    .mb-xs-1,.my-xs-1{
        margin-bottom:4px!important
    }
    .ml-xs-1,.mx-xs-1{
        margin-left:4px!important
    }
    .m-xs-2{
        margin:8px!important
    }
    .mt-xs-2,.my-xs-2{
        margin-top:8px!important
    }
    .mr-xs-2,.mx-xs-2{
        margin-right:8px!important
    }
    .mb-xs-2,.my-xs-2{
        margin-bottom:8px!important
    }
    .ml-xs-2,.mx-xs-2{
        margin-left:8px!important
    }
    .m-xs-3{
        margin:16px!important
    }
    .mt-xs-3,.my-xs-3{
        margin-top:16px!important
    }
    .mr-xs-3,.mx-xs-3{
        margin-right:16px!important
    }
    .mb-xs-3,.my-xs-3{
        margin-bottom:16px!important
    }
    .ml-xs-3,.mx-xs-3{
        margin-left:16px!important
    }
    .m-xs-4{
        margin:24px!important
    }
    .mt-xs-4,.my-xs-4{
        margin-top:24px!important
    }
    .mr-xs-4,.mx-xs-4{
        margin-right:24px!important
    }
    .mb-xs-4,.my-xs-4{
        margin-bottom:24px!important
    }
    .ml-xs-4,.mx-xs-4{
        margin-left:24px!important
    }
    .m-xs-5{
        margin:48px!important
    }
    .mt-xs-5,.my-xs-5{
        margin-top:48px!important
    }
    .mr-xs-5,.mx-xs-5{
        margin-right:48px!important
    }
    .mb-xs-5,.my-xs-5{
        margin-bottom:48px!important
    }
    .ml-xs-5,.mx-xs-5{
        margin-left:48px!important
    }
    .p-xs-0{
        padding:0!important
    }
    .pt-xs-0,.py-xs-0{
        padding-top:0!important
    }
    .pr-xs-0,.px-xs-0{
        padding-right:0!important
    }
    .pb-xs-0,.py-xs-0{
        padding-bottom:0!important
    }
    .pl-xs-0,.px-xs-0{
        padding-left:0!important
    }
    .p-xs-1{
        padding:4px!important
    }
    .pt-xs-1,.py-xs-1{
        padding-top:4px!important
    }
    .pr-xs-1,.px-xs-1{
        padding-right:4px!important
    }
    .pb-xs-1,.py-xs-1{
        padding-bottom:4px!important
    }
    .pl-xs-1,.px-xs-1{
        padding-left:4px!important
    }
    .p-xs-2{
        padding:8px!important
    }
    .pt-xs-2,.py-xs-2{
        padding-top:8px!important
    }
    .pr-xs-2,.px-xs-2{
        padding-right:8px!important
    }
    .pb-xs-2,.py-xs-2{
        padding-bottom:8px!important
    }
    .pl-xs-2,.px-xs-2{
        padding-left:8px!important
    }
    .p-xs-3{
        padding:16px!important
    }
    .pt-xs-3,.py-xs-3{
        padding-top:16px!important
    }
    .pr-xs-3,.px-xs-3{
        padding-right:16px!important
    }
    .pb-xs-3,.py-xs-3{
        padding-bottom:16px!important
    }
    .pl-xs-3,.px-xs-3{
        padding-left:16px!important
    }
    .p-xs-4{
        padding:24px!important
    }
    .pt-xs-4,.py-xs-4{
        padding-top:24px!important
    }
    .pr-xs-4,.px-xs-4{
        padding-right:24px!important
    }
    .pb-xs-4,.py-xs-4{
        padding-bottom:24px!important
    }
    .pl-xs-4,.px-xs-4{
        padding-left:24px!important
    }
    .p-xs-5{
        padding:48px!important
    }
    .pt-xs-5,.py-xs-5{
        padding-top:48px!important
    }
    .pr-xs-5,.px-xs-5{
        padding-right:48px!important
    }
    .pb-xs-5,.py-xs-5{
        padding-bottom:48px!important
    }
    .pl-xs-5,.px-xs-5{
        padding-left:48px!important
    }
    .m-xs-n1{
        margin:-4px!important
    }
    .mt-xs-n1,.my-xs-n1{
        margin-top:-4px!important
    }
    .mr-xs-n1,.mx-xs-n1{
        margin-right:-4px!important
    }
    .mb-xs-n1,.my-xs-n1{
        margin-bottom:-4px!important
    }
    .ml-xs-n1,.mx-xs-n1{
        margin-left:-4px!important
    }
    .m-xs-n2{
        margin:-8px!important
    }
    .mt-xs-n2,.my-xs-n2{
        margin-top:-8px!important
    }
    .mr-xs-n2,.mx-xs-n2{
        margin-right:-8px!important
    }
    .mb-xs-n2,.my-xs-n2{
        margin-bottom:-8px!important
    }
    .ml-xs-n2,.mx-xs-n2{
        margin-left:-8px!important
    }
    .m-xs-n3{
        margin:-16px!important
    }
    .mt-xs-n3,.my-xs-n3{
        margin-top:-16px!important
    }
    .mr-xs-n3,.mx-xs-n3{
        margin-right:-16px!important
    }
    .mb-xs-n3,.my-xs-n3{
        margin-bottom:-16px!important
    }
    .ml-xs-n3,.mx-xs-n3{
        margin-left:-16px!important
    }
    .m-xs-n4{
        margin:-24px!important
    }
    .mt-xs-n4,.my-xs-n4{
        margin-top:-24px!important
    }
    .mr-xs-n4,.mx-xs-n4{
        margin-right:-24px!important
    }
    .mb-xs-n4,.my-xs-n4{
        margin-bottom:-24px!important
    }
    .ml-xs-n4,.mx-xs-n4{
        margin-left:-24px!important
    }
    .m-xs-n5{
        margin:-48px!important
    }
    .mt-xs-n5,.my-xs-n5{
        margin-top:-48px!important
    }
    .mr-xs-n5,.mx-xs-n5{
        margin-right:-48px!important
    }
    .mb-xs-n5,.my-xs-n5{
        margin-bottom:-48px!important
    }
    .ml-xs-n5,.mx-xs-n5{
        margin-left:-48px!important
    }
    .m-xs-auto{
        margin:auto!important
    }
    .mt-xs-auto,.my-xs-auto{
        margin-top:auto!important
    }
    .mr-xs-auto,.mx-xs-auto{
        margin-right:auto!important
    }
    .mb-xs-auto,.my-xs-auto{
        margin-bottom:auto!important
    }
    .ml-xs-auto,.mx-xs-auto{
        margin-left:auto!important
    }
}
@media (min-width:576px){
    .m-sm-0{
        margin:0!important
    }
    .mt-sm-0,.my-sm-0{
        margin-top:0!important
    }
    .mr-sm-0,.mx-sm-0{
        margin-right:0!important
    }
    .mb-sm-0,.my-sm-0{
        margin-bottom:0!important
    }
    .ml-sm-0,.mx-sm-0{
        margin-left:0!important
    }
    .m-sm-1{
        margin:4px!important
    }
    .mt-sm-1,.my-sm-1{
        margin-top:4px!important
    }
    .mr-sm-1,.mx-sm-1{
        margin-right:4px!important
    }
    .mb-sm-1,.my-sm-1{
        margin-bottom:4px!important
    }
    .ml-sm-1,.mx-sm-1{
        margin-left:4px!important
    }
    .m-sm-2{
        margin:8px!important
    }
    .mt-sm-2,.my-sm-2{
        margin-top:8px!important
    }
    .mr-sm-2,.mx-sm-2{
        margin-right:8px!important
    }
    .mb-sm-2,.my-sm-2{
        margin-bottom:8px!important
    }
    .ml-sm-2,.mx-sm-2{
        margin-left:8px!important
    }
    .m-sm-3{
        margin:16px!important
    }
    .mt-sm-3,.my-sm-3{
        margin-top:16px!important
    }
    .mr-sm-3,.mx-sm-3{
        margin-right:16px!important
    }
    .mb-sm-3,.my-sm-3{
        margin-bottom:16px!important
    }
    .ml-sm-3,.mx-sm-3{
        margin-left:16px!important
    }
    .m-sm-4{
        margin:24px!important
    }
    .mt-sm-4,.my-sm-4{
        margin-top:24px!important
    }
    .mr-sm-4,.mx-sm-4{
        margin-right:24px!important
    }
    .mb-sm-4,.my-sm-4{
        margin-bottom:24px!important
    }
    .ml-sm-4,.mx-sm-4{
        margin-left:24px!important
    }
    .m-sm-5{
        margin:48px!important
    }
    .mt-sm-5,.my-sm-5{
        margin-top:48px!important
    }
    .mr-sm-5,.mx-sm-5{
        margin-right:48px!important
    }
    .mb-sm-5,.my-sm-5{
        margin-bottom:48px!important
    }
    .ml-sm-5,.mx-sm-5{
        margin-left:48px!important
    }
    .p-sm-0{
        padding:0!important
    }
    .pt-sm-0,.py-sm-0{
        padding-top:0!important
    }
    .pr-sm-0,.px-sm-0{
        padding-right:0!important
    }
    .pb-sm-0,.py-sm-0{
        padding-bottom:0!important
    }
    .pl-sm-0,.px-sm-0{
        padding-left:0!important
    }
    .p-sm-1{
        padding:4px!important
    }
    .pt-sm-1,.py-sm-1{
        padding-top:4px!important
    }
    .pr-sm-1,.px-sm-1{
        padding-right:4px!important
    }
    .pb-sm-1,.py-sm-1{
        padding-bottom:4px!important
    }
    .pl-sm-1,.px-sm-1{
        padding-left:4px!important
    }
    .p-sm-2{
        padding:8px!important
    }
    .pt-sm-2,.py-sm-2{
        padding-top:8px!important
    }
    .pr-sm-2,.px-sm-2{
        padding-right:8px!important
    }
    .pb-sm-2,.py-sm-2{
        padding-bottom:8px!important
    }
    .pl-sm-2,.px-sm-2{
        padding-left:8px!important
    }
    .p-sm-3{
        padding:16px!important
    }
    .pt-sm-3,.py-sm-3{
        padding-top:16px!important
    }
    .pr-sm-3,.px-sm-3{
        padding-right:16px!important
    }
    .pb-sm-3,.py-sm-3{
        padding-bottom:16px!important
    }
    .pl-sm-3,.px-sm-3{
        padding-left:16px!important
    }
    .p-sm-4{
        padding:24px!important
    }
    .pt-sm-4,.py-sm-4{
        padding-top:24px!important
    }
    .pr-sm-4,.px-sm-4{
        padding-right:24px!important
    }
    .pb-sm-4,.py-sm-4{
        padding-bottom:24px!important
    }
    .pl-sm-4,.px-sm-4{
        padding-left:24px!important
    }
    .p-sm-5{
        padding:48px!important
    }
    .pt-sm-5,.py-sm-5{
        padding-top:48px!important
    }
    .pr-sm-5,.px-sm-5{
        padding-right:48px!important
    }
    .pb-sm-5,.py-sm-5{
        padding-bottom:48px!important
    }
    .pl-sm-5,.px-sm-5{
        padding-left:48px!important
    }
    .m-sm-n1{
        margin:-4px!important
    }
    .mt-sm-n1,.my-sm-n1{
        margin-top:-4px!important
    }
    .mr-sm-n1,.mx-sm-n1{
        margin-right:-4px!important
    }
    .mb-sm-n1,.my-sm-n1{
        margin-bottom:-4px!important
    }
    .ml-sm-n1,.mx-sm-n1{
        margin-left:-4px!important
    }
    .m-sm-n2{
        margin:-8px!important
    }
    .mt-sm-n2,.my-sm-n2{
        margin-top:-8px!important
    }
    .mr-sm-n2,.mx-sm-n2{
        margin-right:-8px!important
    }
    .mb-sm-n2,.my-sm-n2{
        margin-bottom:-8px!important
    }
    .ml-sm-n2,.mx-sm-n2{
        margin-left:-8px!important
    }
    .m-sm-n3{
        margin:-16px!important
    }
    .mt-sm-n3,.my-sm-n3{
        margin-top:-16px!important
    }
    .mr-sm-n3,.mx-sm-n3{
        margin-right:-16px!important
    }
    .mb-sm-n3,.my-sm-n3{
        margin-bottom:-16px!important
    }
    .ml-sm-n3,.mx-sm-n3{
        margin-left:-16px!important
    }
    .m-sm-n4{
        margin:-24px!important
    }
    .mt-sm-n4,.my-sm-n4{
        margin-top:-24px!important
    }
    .mr-sm-n4,.mx-sm-n4{
        margin-right:-24px!important
    }
    .mb-sm-n4,.my-sm-n4{
        margin-bottom:-24px!important
    }
    .ml-sm-n4,.mx-sm-n4{
        margin-left:-24px!important
    }
    .m-sm-n5{
        margin:-48px!important
    }
    .mt-sm-n5,.my-sm-n5{
        margin-top:-48px!important
    }
    .mr-sm-n5,.mx-sm-n5{
        margin-right:-48px!important
    }
    .mb-sm-n5,.my-sm-n5{
        margin-bottom:-48px!important
    }
    .ml-sm-n5,.mx-sm-n5{
        margin-left:-48px!important
    }
    .m-sm-auto{
        margin:auto!important
    }
    .mt-sm-auto,.my-sm-auto{
        margin-top:auto!important
    }
    .mr-sm-auto,.mx-sm-auto{
        margin-right:auto!important
    }
    .mb-sm-auto,.my-sm-auto{
        margin-bottom:auto!important
    }
    .ml-sm-auto,.mx-sm-auto{
        margin-left:auto!important
    }
}
@media (min-width:768px){
    .m-md-0{
        margin:0!important
    }
    .mt-md-0,.my-md-0{
        margin-top:0!important
    }
    .mr-md-0,.mx-md-0{
        margin-right:0!important
    }
    .mb-md-0,.my-md-0{
        margin-bottom:0!important
    }
    .ml-md-0,.mx-md-0{
        margin-left:0!important
    }
    .m-md-1{
        margin:4px!important
    }
    .mt-md-1,.my-md-1{
        margin-top:4px!important
    }
    .mr-md-1,.mx-md-1{
        margin-right:4px!important
    }
    .mb-md-1,.my-md-1{
        margin-bottom:4px!important
    }
    .ml-md-1,.mx-md-1{
        margin-left:4px!important
    }
    .m-md-2{
        margin:8px!important
    }
    .mt-md-2,.my-md-2{
        margin-top:8px!important
    }
    .mr-md-2,.mx-md-2{
        margin-right:8px!important
    }
    .mb-md-2,.my-md-2{
        margin-bottom:8px!important
    }
    .ml-md-2,.mx-md-2{
        margin-left:8px!important
    }
    .m-md-3{
        margin:16px!important
    }
    .mt-md-3,.my-md-3{
        margin-top:16px!important
    }
    .mr-md-3,.mx-md-3{
        margin-right:16px!important
    }
    .mb-md-3,.my-md-3{
        margin-bottom:16px!important
    }
    .ml-md-3,.mx-md-3{
        margin-left:16px!important
    }
    .m-md-4{
        margin:24px!important
    }
    .mt-md-4,.my-md-4{
        margin-top:24px!important
    }
    .mr-md-4,.mx-md-4{
        margin-right:24px!important
    }
    .mb-md-4,.my-md-4{
        margin-bottom:24px!important
    }
    .ml-md-4,.mx-md-4{
        margin-left:24px!important
    }
    .m-md-5{
        margin:48px!important
    }
    .mt-md-5,.my-md-5{
        margin-top:48px!important
    }
    .mr-md-5,.mx-md-5{
        margin-right:48px!important
    }
    .mb-md-5,.my-md-5{
        margin-bottom:48px!important
    }
    .ml-md-5,.mx-md-5{
        margin-left:48px!important
    }
    .p-md-0{
        padding:0!important
    }
    .pt-md-0,.py-md-0{
        padding-top:0!important
    }
    .pr-md-0,.px-md-0{
        padding-right:0!important
    }
    .pb-md-0,.py-md-0{
        padding-bottom:0!important
    }
    .pl-md-0,.px-md-0{
        padding-left:0!important
    }
    .p-md-1{
        padding:4px!important
    }
    .pt-md-1,.py-md-1{
        padding-top:4px!important
    }
    .pr-md-1,.px-md-1{
        padding-right:4px!important
    }
    .pb-md-1,.py-md-1{
        padding-bottom:4px!important
    }
    .pl-md-1,.px-md-1{
        padding-left:4px!important
    }
    .p-md-2{
        padding:8px!important
    }
    .pt-md-2,.py-md-2{
        padding-top:8px!important
    }
    .pr-md-2,.px-md-2{
        padding-right:8px!important
    }
    .pb-md-2,.py-md-2{
        padding-bottom:8px!important
    }
    .pl-md-2,.px-md-2{
        padding-left:8px!important
    }
    .p-md-3{
        padding:16px!important
    }
    .pt-md-3,.py-md-3{
        padding-top:16px!important
    }
    .pr-md-3,.px-md-3{
        padding-right:16px!important
    }
    .pb-md-3,.py-md-3{
        padding-bottom:16px!important
    }
    .pl-md-3,.px-md-3{
        padding-left:16px!important
    }
    .p-md-4{
        padding:24px!important
    }
    .pt-md-4,.py-md-4{
        padding-top:24px!important
    }
    .pr-md-4,.px-md-4{
        padding-right:24px!important
    }
    .pb-md-4,.py-md-4{
        padding-bottom:24px!important
    }
    .pl-md-4,.px-md-4{
        padding-left:24px!important
    }
    .p-md-5{
        padding:48px!important
    }
    .pt-md-5,.py-md-5{
        padding-top:48px!important
    }
    .pr-md-5,.px-md-5{
        padding-right:48px!important
    }
    .pb-md-5,.py-md-5{
        padding-bottom:48px!important
    }
    .pl-md-5,.px-md-5{
        padding-left:48px!important
    }
    .m-md-n1{
        margin:-4px!important
    }
    .mt-md-n1,.my-md-n1{
        margin-top:-4px!important
    }
    .mr-md-n1,.mx-md-n1{
        margin-right:-4px!important
    }
    .mb-md-n1,.my-md-n1{
        margin-bottom:-4px!important
    }
    .ml-md-n1,.mx-md-n1{
        margin-left:-4px!important
    }
    .m-md-n2{
        margin:-8px!important
    }
    .mt-md-n2,.my-md-n2{
        margin-top:-8px!important
    }
    .mr-md-n2,.mx-md-n2{
        margin-right:-8px!important
    }
    .mb-md-n2,.my-md-n2{
        margin-bottom:-8px!important
    }
    .ml-md-n2,.mx-md-n2{
        margin-left:-8px!important
    }
    .m-md-n3{
        margin:-16px!important
    }
    .mt-md-n3,.my-md-n3{
        margin-top:-16px!important
    }
    .mr-md-n3,.mx-md-n3{
        margin-right:-16px!important
    }
    .mb-md-n3,.my-md-n3{
        margin-bottom:-16px!important
    }
    .ml-md-n3,.mx-md-n3{
        margin-left:-16px!important
    }
    .m-md-n4{
        margin:-24px!important
    }
    .mt-md-n4,.my-md-n4{
        margin-top:-24px!important
    }
    .mr-md-n4,.mx-md-n4{
        margin-right:-24px!important
    }
    .mb-md-n4,.my-md-n4{
        margin-bottom:-24px!important
    }
    .ml-md-n4,.mx-md-n4{
        margin-left:-24px!important
    }
    .m-md-n5{
        margin:-48px!important
    }
    .mt-md-n5,.my-md-n5{
        margin-top:-48px!important
    }
    .mr-md-n5,.mx-md-n5{
        margin-right:-48px!important
    }
    .mb-md-n5,.my-md-n5{
        margin-bottom:-48px!important
    }
    .ml-md-n5,.mx-md-n5{
        margin-left:-48px!important
    }
    .m-md-auto{
        margin:auto!important
    }
    .mt-md-auto,.my-md-auto{
        margin-top:auto!important
    }
    .mr-md-auto,.mx-md-auto{
        margin-right:auto!important
    }
    .mb-md-auto,.my-md-auto{
        margin-bottom:auto!important
    }
    .ml-md-auto,.mx-md-auto{
        margin-left:auto!important
    }
}
@media (min-width:992px){
    .m-lg-0{
        margin:0!important
    }
    .mt-lg-0,.my-lg-0{
        margin-top:0!important
    }
    .mr-lg-0,.mx-lg-0{
        margin-right:0!important
    }
    .mb-lg-0,.my-lg-0{
        margin-bottom:0!important
    }
    .ml-lg-0,.mx-lg-0{
        margin-left:0!important
    }
    .m-lg-1{
        margin:4px!important
    }
    .mt-lg-1,.my-lg-1{
        margin-top:4px!important
    }
    .mr-lg-1,.mx-lg-1{
        margin-right:4px!important
    }
    .mb-lg-1,.my-lg-1{
        margin-bottom:4px!important
    }
    .ml-lg-1,.mx-lg-1{
        margin-left:4px!important
    }
    .m-lg-2{
        margin:8px!important
    }
    .mt-lg-2,.my-lg-2{
        margin-top:8px!important
    }
    .mr-lg-2,.mx-lg-2{
        margin-right:8px!important
    }
    .mb-lg-2,.my-lg-2{
        margin-bottom:8px!important
    }
    .ml-lg-2,.mx-lg-2{
        margin-left:8px!important
    }
    .m-lg-3{
        margin:16px!important
    }
    .mt-lg-3,.my-lg-3{
        margin-top:16px!important
    }
    .mr-lg-3,.mx-lg-3{
        margin-right:16px!important
    }
    .mb-lg-3,.my-lg-3{
        margin-bottom:16px!important
    }
    .ml-lg-3,.mx-lg-3{
        margin-left:16px!important
    }
    .m-lg-4{
        margin:24px!important
    }
    .mt-lg-4,.my-lg-4{
        margin-top:24px!important
    }
    .mr-lg-4,.mx-lg-4{
        margin-right:24px!important
    }
    .mb-lg-4,.my-lg-4{
        margin-bottom:24px!important
    }
    .ml-lg-4,.mx-lg-4{
        margin-left:24px!important
    }
    .m-lg-5{
        margin:48px!important
    }
    .mt-lg-5,.my-lg-5{
        margin-top:48px!important
    }
    .mr-lg-5,.mx-lg-5{
        margin-right:48px!important
    }
    .mb-lg-5,.my-lg-5{
        margin-bottom:48px!important
    }
    .ml-lg-5,.mx-lg-5{
        margin-left:48px!important
    }
    .p-lg-0{
        padding:0!important
    }
    .pt-lg-0,.py-lg-0{
        padding-top:0!important
    }
    .pr-lg-0,.px-lg-0{
        padding-right:0!important
    }
    .pb-lg-0,.py-lg-0{
        padding-bottom:0!important
    }
    .pl-lg-0,.px-lg-0{
        padding-left:0!important
    }
    .p-lg-1{
        padding:4px!important
    }
    .pt-lg-1,.py-lg-1{
        padding-top:4px!important
    }
    .pr-lg-1,.px-lg-1{
        padding-right:4px!important
    }
    .pb-lg-1,.py-lg-1{
        padding-bottom:4px!important
    }
    .pl-lg-1,.px-lg-1{
        padding-left:4px!important
    }
    .p-lg-2{
        padding:8px!important
    }
    .pt-lg-2,.py-lg-2{
        padding-top:8px!important
    }
    .pr-lg-2,.px-lg-2{
        padding-right:8px!important
    }
    .pb-lg-2,.py-lg-2{
        padding-bottom:8px!important
    }
    .pl-lg-2,.px-lg-2{
        padding-left:8px!important
    }
    .p-lg-3{
        padding:16px!important
    }
    .pt-lg-3,.py-lg-3{
        padding-top:16px!important
    }
    .pr-lg-3,.px-lg-3{
        padding-right:16px!important
    }
    .pb-lg-3,.py-lg-3{
        padding-bottom:16px!important
    }
    .pl-lg-3,.px-lg-3{
        padding-left:16px!important
    }
    .p-lg-4{
        padding:24px!important
    }
    .pt-lg-4,.py-lg-4{
        padding-top:24px!important
    }
    .pr-lg-4,.px-lg-4{
        padding-right:24px!important
    }
    .pb-lg-4,.py-lg-4{
        padding-bottom:24px!important
    }
    .pl-lg-4,.px-lg-4{
        padding-left:24px!important
    }
    .p-lg-5{
        padding:48px!important
    }
    .pt-lg-5,.py-lg-5{
        padding-top:48px!important
    }
    .pr-lg-5,.px-lg-5{
        padding-right:48px!important
    }
    .pb-lg-5,.py-lg-5{
        padding-bottom:48px!important
    }
    .pl-lg-5,.px-lg-5{
        padding-left:48px!important
    }
    .m-lg-n1{
        margin:-4px!important
    }
    .mt-lg-n1,.my-lg-n1{
        margin-top:-4px!important
    }
    .mr-lg-n1,.mx-lg-n1{
        margin-right:-4px!important
    }
    .mb-lg-n1,.my-lg-n1{
        margin-bottom:-4px!important
    }
    .ml-lg-n1,.mx-lg-n1{
        margin-left:-4px!important
    }
    .m-lg-n2{
        margin:-8px!important
    }
    .mt-lg-n2,.my-lg-n2{
        margin-top:-8px!important
    }
    .mr-lg-n2,.mx-lg-n2{
        margin-right:-8px!important
    }
    .mb-lg-n2,.my-lg-n2{
        margin-bottom:-8px!important
    }
    .ml-lg-n2,.mx-lg-n2{
        margin-left:-8px!important
    }
    .m-lg-n3{
        margin:-16px!important
    }
    .mt-lg-n3,.my-lg-n3{
        margin-top:-16px!important
    }
    .mr-lg-n3,.mx-lg-n3{
        margin-right:-16px!important
    }
    .mb-lg-n3,.my-lg-n3{
        margin-bottom:-16px!important
    }
    .ml-lg-n3,.mx-lg-n3{
        margin-left:-16px!important
    }
    .m-lg-n4{
        margin:-24px!important
    }
    .mt-lg-n4,.my-lg-n4{
        margin-top:-24px!important
    }
    .mr-lg-n4,.mx-lg-n4{
        margin-right:-24px!important
    }
    .mb-lg-n4,.my-lg-n4{
        margin-bottom:-24px!important
    }
    .ml-lg-n4,.mx-lg-n4{
        margin-left:-24px!important
    }
    .m-lg-n5{
        margin:-48px!important
    }
    .mt-lg-n5,.my-lg-n5{
        margin-top:-48px!important
    }
    .mr-lg-n5,.mx-lg-n5{
        margin-right:-48px!important
    }
    .mb-lg-n5,.my-lg-n5{
        margin-bottom:-48px!important
    }
    .ml-lg-n5,.mx-lg-n5{
        margin-left:-48px!important
    }
    .m-lg-auto{
        margin:auto!important
    }
    .mt-lg-auto,.my-lg-auto{
        margin-top:auto!important
    }
    .mr-lg-auto,.mx-lg-auto{
        margin-right:auto!important
    }
    .mb-lg-auto,.my-lg-auto{
        margin-bottom:auto!important
    }
    .ml-lg-auto,.mx-lg-auto{
        margin-left:auto!important
    }
}
@media (min-width:1200px){
    .m-xl-0{
        margin:0!important
    }
    .mt-xl-0,.my-xl-0{
        margin-top:0!important
    }
    .mr-xl-0,.mx-xl-0{
        margin-right:0!important
    }
    .mb-xl-0,.my-xl-0{
        margin-bottom:0!important
    }
    .ml-xl-0,.mx-xl-0{
        margin-left:0!important
    }
    .m-xl-1{
        margin:4px!important
    }
    .mt-xl-1,.my-xl-1{
        margin-top:4px!important
    }
    .mr-xl-1,.mx-xl-1{
        margin-right:4px!important
    }
    .mb-xl-1,.my-xl-1{
        margin-bottom:4px!important
    }
    .ml-xl-1,.mx-xl-1{
        margin-left:4px!important
    }
    .m-xl-2{
        margin:8px!important
    }
    .mt-xl-2,.my-xl-2{
        margin-top:8px!important
    }
    .mr-xl-2,.mx-xl-2{
        margin-right:8px!important
    }
    .mb-xl-2,.my-xl-2{
        margin-bottom:8px!important
    }
    .ml-xl-2,.mx-xl-2{
        margin-left:8px!important
    }
    .m-xl-3{
        margin:16px!important
    }
    .mt-xl-3,.my-xl-3{
        margin-top:16px!important
    }
    .mr-xl-3,.mx-xl-3{
        margin-right:16px!important
    }
    .mb-xl-3,.my-xl-3{
        margin-bottom:16px!important
    }
    .ml-xl-3,.mx-xl-3{
        margin-left:16px!important
    }
    .m-xl-4{
        margin:24px!important
    }
    .mt-xl-4,.my-xl-4{
        margin-top:24px!important
    }
    .mr-xl-4,.mx-xl-4{
        margin-right:24px!important
    }
    .mb-xl-4,.my-xl-4{
        margin-bottom:24px!important
    }
    .ml-xl-4,.mx-xl-4{
        margin-left:24px!important
    }
    .m-xl-5{
        margin:48px!important
    }
    .mt-xl-5,.my-xl-5{
        margin-top:48px!important
    }
    .mr-xl-5,.mx-xl-5{
        margin-right:48px!important
    }
    .mb-xl-5,.my-xl-5{
        margin-bottom:48px!important
    }
    .ml-xl-5,.mx-xl-5{
        margin-left:48px!important
    }
    .p-xl-0{
        padding:0!important
    }
    .pt-xl-0,.py-xl-0{
        padding-top:0!important
    }
    .pr-xl-0,.px-xl-0{
        padding-right:0!important
    }
    .pb-xl-0,.py-xl-0{
        padding-bottom:0!important
    }
    .pl-xl-0,.px-xl-0{
        padding-left:0!important
    }
    .p-xl-1{
        padding:4px!important
    }
    .pt-xl-1,.py-xl-1{
        padding-top:4px!important
    }
    .pr-xl-1,.px-xl-1{
        padding-right:4px!important
    }
    .pb-xl-1,.py-xl-1{
        padding-bottom:4px!important
    }
    .pl-xl-1,.px-xl-1{
        padding-left:4px!important
    }
    .p-xl-2{
        padding:8px!important
    }
    .pt-xl-2,.py-xl-2{
        padding-top:8px!important
    }
    .pr-xl-2,.px-xl-2{
        padding-right:8px!important
    }
    .pb-xl-2,.py-xl-2{
        padding-bottom:8px!important
    }
    .pl-xl-2,.px-xl-2{
        padding-left:8px!important
    }
    .p-xl-3{
        padding:16px!important
    }
    .pt-xl-3,.py-xl-3{
        padding-top:16px!important
    }
    .pr-xl-3,.px-xl-3{
        padding-right:16px!important
    }
    .pb-xl-3,.py-xl-3{
        padding-bottom:16px!important
    }
    .pl-xl-3,.px-xl-3{
        padding-left:16px!important
    }
    .p-xl-4{
        padding:24px!important
    }
    .pt-xl-4,.py-xl-4{
        padding-top:24px!important
    }
    .pr-xl-4,.px-xl-4{
        padding-right:24px!important
    }
    .pb-xl-4,.py-xl-4{
        padding-bottom:24px!important
    }
    .pl-xl-4,.px-xl-4{
        padding-left:24px!important
    }
    .p-xl-5{
        padding:48px!important
    }
    .pt-xl-5,.py-xl-5{
        padding-top:48px!important
    }
    .pr-xl-5,.px-xl-5{
        padding-right:48px!important
    }
    .pb-xl-5,.py-xl-5{
        padding-bottom:48px!important
    }
    .pl-xl-5,.px-xl-5{
        padding-left:48px!important
    }
    .m-xl-n1{
        margin:-4px!important
    }
    .mt-xl-n1,.my-xl-n1{
        margin-top:-4px!important
    }
    .mr-xl-n1,.mx-xl-n1{
        margin-right:-4px!important
    }
    .mb-xl-n1,.my-xl-n1{
        margin-bottom:-4px!important
    }
    .ml-xl-n1,.mx-xl-n1{
        margin-left:-4px!important
    }
    .m-xl-n2{
        margin:-8px!important
    }
    .mt-xl-n2,.my-xl-n2{
        margin-top:-8px!important
    }
    .mr-xl-n2,.mx-xl-n2{
        margin-right:-8px!important
    }
    .mb-xl-n2,.my-xl-n2{
        margin-bottom:-8px!important
    }
    .ml-xl-n2,.mx-xl-n2{
        margin-left:-8px!important
    }
    .m-xl-n3{
        margin:-16px!important
    }
    .mt-xl-n3,.my-xl-n3{
        margin-top:-16px!important
    }
    .mr-xl-n3,.mx-xl-n3{
        margin-right:-16px!important
    }
    .mb-xl-n3,.my-xl-n3{
        margin-bottom:-16px!important
    }
    .ml-xl-n3,.mx-xl-n3{
        margin-left:-16px!important
    }
    .m-xl-n4{
        margin:-24px!important
    }
    .mt-xl-n4,.my-xl-n4{
        margin-top:-24px!important
    }
    .mr-xl-n4,.mx-xl-n4{
        margin-right:-24px!important
    }
    .mb-xl-n4,.my-xl-n4{
        margin-bottom:-24px!important
    }
    .ml-xl-n4,.mx-xl-n4{
        margin-left:-24px!important
    }
    .m-xl-n5{
        margin:-48px!important
    }
    .mt-xl-n5,.my-xl-n5{
        margin-top:-48px!important
    }
    .mr-xl-n5,.mx-xl-n5{
        margin-right:-48px!important
    }
    .mb-xl-n5,.my-xl-n5{
        margin-bottom:-48px!important
    }
    .ml-xl-n5,.mx-xl-n5{
        margin-left:-48px!important
    }
    .m-xl-auto{
        margin:auto!important
    }
    .mt-xl-auto,.my-xl-auto{
        margin-top:auto!important
    }
    .mr-xl-auto,.mx-xl-auto{
        margin-right:auto!important
    }
    .mb-xl-auto,.my-xl-auto{
        margin-bottom:auto!important
    }
    .ml-xl-auto,.mx-xl-auto{
        margin-left:auto!important
    }
}
@media (min-width:1660px){
    .m-xxl-0{
        margin:0!important
    }
    .mt-xxl-0,.my-xxl-0{
        margin-top:0!important
    }
    .mr-xxl-0,.mx-xxl-0{
        margin-right:0!important
    }
    .mb-xxl-0,.my-xxl-0{
        margin-bottom:0!important
    }
    .ml-xxl-0,.mx-xxl-0{
        margin-left:0!important
    }
    .m-xxl-1{
        margin:4px!important
    }
    .mt-xxl-1,.my-xxl-1{
        margin-top:4px!important
    }
    .mr-xxl-1,.mx-xxl-1{
        margin-right:4px!important
    }
    .mb-xxl-1,.my-xxl-1{
        margin-bottom:4px!important
    }
    .ml-xxl-1,.mx-xxl-1{
        margin-left:4px!important
    }
    .m-xxl-2{
        margin:8px!important
    }
    .mt-xxl-2,.my-xxl-2{
        margin-top:8px!important
    }
    .mr-xxl-2,.mx-xxl-2{
        margin-right:8px!important
    }
    .mb-xxl-2,.my-xxl-2{
        margin-bottom:8px!important
    }
    .ml-xxl-2,.mx-xxl-2{
        margin-left:8px!important
    }
    .m-xxl-3{
        margin:16px!important
    }
    .mt-xxl-3,.my-xxl-3{
        margin-top:16px!important
    }
    .mr-xxl-3,.mx-xxl-3{
        margin-right:16px!important
    }
    .mb-xxl-3,.my-xxl-3{
        margin-bottom:16px!important
    }
    .ml-xxl-3,.mx-xxl-3{
        margin-left:16px!important
    }
    .m-xxl-4{
        margin:24px!important
    }
    .mt-xxl-4,.my-xxl-4{
        margin-top:24px!important
    }
    .mr-xxl-4,.mx-xxl-4{
        margin-right:24px!important
    }
    .mb-xxl-4,.my-xxl-4{
        margin-bottom:24px!important
    }
    .ml-xxl-4,.mx-xxl-4{
        margin-left:24px!important
    }
    .m-xxl-5{
        margin:48px!important
    }
    .mt-xxl-5,.my-xxl-5{
        margin-top:48px!important
    }
    .mr-xxl-5,.mx-xxl-5{
        margin-right:48px!important
    }
    .mb-xxl-5,.my-xxl-5{
        margin-bottom:48px!important
    }
    .ml-xxl-5,.mx-xxl-5{
        margin-left:48px!important
    }
    .p-xxl-0{
        padding:0!important
    }
    .pt-xxl-0,.py-xxl-0{
        padding-top:0!important
    }
    .pr-xxl-0,.px-xxl-0{
        padding-right:0!important
    }
    .pb-xxl-0,.py-xxl-0{
        padding-bottom:0!important
    }
    .pl-xxl-0,.px-xxl-0{
        padding-left:0!important
    }
    .p-xxl-1{
        padding:4px!important
    }
    .pt-xxl-1,.py-xxl-1{
        padding-top:4px!important
    }
    .pr-xxl-1,.px-xxl-1{
        padding-right:4px!important
    }
    .pb-xxl-1,.py-xxl-1{
        padding-bottom:4px!important
    }
    .pl-xxl-1,.px-xxl-1{
        padding-left:4px!important
    }
    .p-xxl-2{
        padding:8px!important
    }
    .pt-xxl-2,.py-xxl-2{
        padding-top:8px!important
    }
    .pr-xxl-2,.px-xxl-2{
        padding-right:8px!important
    }
    .pb-xxl-2,.py-xxl-2{
        padding-bottom:8px!important
    }
    .pl-xxl-2,.px-xxl-2{
        padding-left:8px!important
    }
    .p-xxl-3{
        padding:16px!important
    }
    .pt-xxl-3,.py-xxl-3{
        padding-top:16px!important
    }
    .pr-xxl-3,.px-xxl-3{
        padding-right:16px!important
    }
    .pb-xxl-3,.py-xxl-3{
        padding-bottom:16px!important
    }
    .pl-xxl-3,.px-xxl-3{
        padding-left:16px!important
    }
    .p-xxl-4{
        padding:24px!important
    }
    .pt-xxl-4,.py-xxl-4{
        padding-top:24px!important
    }
    .pr-xxl-4,.px-xxl-4{
        padding-right:24px!important
    }
    .pb-xxl-4,.py-xxl-4{
        padding-bottom:24px!important
    }
    .pl-xxl-4,.px-xxl-4{
        padding-left:24px!important
    }
    .p-xxl-5{
        padding:48px!important
    }
    .pt-xxl-5,.py-xxl-5{
        padding-top:48px!important
    }
    .pr-xxl-5,.px-xxl-5{
        padding-right:48px!important
    }
    .pb-xxl-5,.py-xxl-5{
        padding-bottom:48px!important
    }
    .pl-xxl-5,.px-xxl-5{
        padding-left:48px!important
    }
    .m-xxl-n1{
        margin:-4px!important
    }
    .mt-xxl-n1,.my-xxl-n1{
        margin-top:-4px!important
    }
    .mr-xxl-n1,.mx-xxl-n1{
        margin-right:-4px!important
    }
    .mb-xxl-n1,.my-xxl-n1{
        margin-bottom:-4px!important
    }
    .ml-xxl-n1,.mx-xxl-n1{
        margin-left:-4px!important
    }
    .m-xxl-n2{
        margin:-8px!important
    }
    .mt-xxl-n2,.my-xxl-n2{
        margin-top:-8px!important
    }
    .mr-xxl-n2,.mx-xxl-n2{
        margin-right:-8px!important
    }
    .mb-xxl-n2,.my-xxl-n2{
        margin-bottom:-8px!important
    }
    .ml-xxl-n2,.mx-xxl-n2{
        margin-left:-8px!important
    }
    .m-xxl-n3{
        margin:-16px!important
    }
    .mt-xxl-n3,.my-xxl-n3{
        margin-top:-16px!important
    }
    .mr-xxl-n3,.mx-xxl-n3{
        margin-right:-16px!important
    }
    .mb-xxl-n3,.my-xxl-n3{
        margin-bottom:-16px!important
    }
    .ml-xxl-n3,.mx-xxl-n3{
        margin-left:-16px!important
    }
    .m-xxl-n4{
        margin:-24px!important
    }
    .mt-xxl-n4,.my-xxl-n4{
        margin-top:-24px!important
    }
    .mr-xxl-n4,.mx-xxl-n4{
        margin-right:-24px!important
    }
    .mb-xxl-n4,.my-xxl-n4{
        margin-bottom:-24px!important
    }
    .ml-xxl-n4,.mx-xxl-n4{
        margin-left:-24px!important
    }
    .m-xxl-n5{
        margin:-48px!important
    }
    .mt-xxl-n5,.my-xxl-n5{
        margin-top:-48px!important
    }
    .mr-xxl-n5,.mx-xxl-n5{
        margin-right:-48px!important
    }
    .mb-xxl-n5,.my-xxl-n5{
        margin-bottom:-48px!important
    }
    .ml-xxl-n5,.mx-xxl-n5{
        margin-left:-48px!important
    }
    .m-xxl-auto{
        margin:auto!important
    }
    .mt-xxl-auto,.my-xxl-auto{
        margin-top:auto!important
    }
    .mr-xxl-auto,.mx-xxl-auto{
        margin-right:auto!important
    }
    .mb-xxl-auto,.my-xxl-auto{
        margin-bottom:auto!important
    }
    .ml-xxl-auto,.mx-xxl-auto{
        margin-left:auto!important
    }
}
@media (min-width:1900px){
    .m-xxxl-0{
        margin:0!important
    }
    .mt-xxxl-0,.my-xxxl-0{
        margin-top:0!important
    }
    .mr-xxxl-0,.mx-xxxl-0{
        margin-right:0!important
    }
    .mb-xxxl-0,.my-xxxl-0{
        margin-bottom:0!important
    }
    .ml-xxxl-0,.mx-xxxl-0{
        margin-left:0!important
    }
    .m-xxxl-1{
        margin:4px!important
    }
    .mt-xxxl-1,.my-xxxl-1{
        margin-top:4px!important
    }
    .mr-xxxl-1,.mx-xxxl-1{
        margin-right:4px!important
    }
    .mb-xxxl-1,.my-xxxl-1{
        margin-bottom:4px!important
    }
    .ml-xxxl-1,.mx-xxxl-1{
        margin-left:4px!important
    }
    .m-xxxl-2{
        margin:8px!important
    }
    .mt-xxxl-2,.my-xxxl-2{
        margin-top:8px!important
    }
    .mr-xxxl-2,.mx-xxxl-2{
        margin-right:8px!important
    }
    .mb-xxxl-2,.my-xxxl-2{
        margin-bottom:8px!important
    }
    .ml-xxxl-2,.mx-xxxl-2{
        margin-left:8px!important
    }
    .m-xxxl-3{
        margin:16px!important
    }
    .mt-xxxl-3,.my-xxxl-3{
        margin-top:16px!important
    }
    .mr-xxxl-3,.mx-xxxl-3{
        margin-right:16px!important
    }
    .mb-xxxl-3,.my-xxxl-3{
        margin-bottom:16px!important
    }
    .ml-xxxl-3,.mx-xxxl-3{
        margin-left:16px!important
    }
    .m-xxxl-4{
        margin:24px!important
    }
    .mt-xxxl-4,.my-xxxl-4{
        margin-top:24px!important
    }
    .mr-xxxl-4,.mx-xxxl-4{
        margin-right:24px!important
    }
    .mb-xxxl-4,.my-xxxl-4{
        margin-bottom:24px!important
    }
    .ml-xxxl-4,.mx-xxxl-4{
        margin-left:24px!important
    }
    .m-xxxl-5{
        margin:48px!important
    }
    .mt-xxxl-5,.my-xxxl-5{
        margin-top:48px!important
    }
    .mr-xxxl-5,.mx-xxxl-5{
        margin-right:48px!important
    }
    .mb-xxxl-5,.my-xxxl-5{
        margin-bottom:48px!important
    }
    .ml-xxxl-5,.mx-xxxl-5{
        margin-left:48px!important
    }
    .p-xxxl-0{
        padding:0!important
    }
    .pt-xxxl-0,.py-xxxl-0{
        padding-top:0!important
    }
    .pr-xxxl-0,.px-xxxl-0{
        padding-right:0!important
    }
    .pb-xxxl-0,.py-xxxl-0{
        padding-bottom:0!important
    }
    .pl-xxxl-0,.px-xxxl-0{
        padding-left:0!important
    }
    .p-xxxl-1{
        padding:4px!important
    }
    .pt-xxxl-1,.py-xxxl-1{
        padding-top:4px!important
    }
    .pr-xxxl-1,.px-xxxl-1{
        padding-right:4px!important
    }
    .pb-xxxl-1,.py-xxxl-1{
        padding-bottom:4px!important
    }
    .pl-xxxl-1,.px-xxxl-1{
        padding-left:4px!important
    }
    .p-xxxl-2{
        padding:8px!important
    }
    .pt-xxxl-2,.py-xxxl-2{
        padding-top:8px!important
    }
    .pr-xxxl-2,.px-xxxl-2{
        padding-right:8px!important
    }
    .pb-xxxl-2,.py-xxxl-2{
        padding-bottom:8px!important
    }
    .pl-xxxl-2,.px-xxxl-2{
        padding-left:8px!important
    }
    .p-xxxl-3{
        padding:16px!important
    }
    .pt-xxxl-3,.py-xxxl-3{
        padding-top:16px!important
    }
    .pr-xxxl-3,.px-xxxl-3{
        padding-right:16px!important
    }
    .pb-xxxl-3,.py-xxxl-3{
        padding-bottom:16px!important
    }
    .pl-xxxl-3,.px-xxxl-3{
        padding-left:16px!important
    }
    .p-xxxl-4{
        padding:24px!important
    }
    .pt-xxxl-4,.py-xxxl-4{
        padding-top:24px!important
    }
    .pr-xxxl-4,.px-xxxl-4{
        padding-right:24px!important
    }
    .pb-xxxl-4,.py-xxxl-4{
        padding-bottom:24px!important
    }
    .pl-xxxl-4,.px-xxxl-4{
        padding-left:24px!important
    }
    .p-xxxl-5{
        padding:48px!important
    }
    .pt-xxxl-5,.py-xxxl-5{
        padding-top:48px!important
    }
    .pr-xxxl-5,.px-xxxl-5{
        padding-right:48px!important
    }
    .pb-xxxl-5,.py-xxxl-5{
        padding-bottom:48px!important
    }
    .pl-xxxl-5,.px-xxxl-5{
        padding-left:48px!important
    }
    .m-xxxl-n1{
        margin:-4px!important
    }
    .mt-xxxl-n1,.my-xxxl-n1{
        margin-top:-4px!important
    }
    .mr-xxxl-n1,.mx-xxxl-n1{
        margin-right:-4px!important
    }
    .mb-xxxl-n1,.my-xxxl-n1{
        margin-bottom:-4px!important
    }
    .ml-xxxl-n1,.mx-xxxl-n1{
        margin-left:-4px!important
    }
    .m-xxxl-n2{
        margin:-8px!important
    }
    .mt-xxxl-n2,.my-xxxl-n2{
        margin-top:-8px!important
    }
    .mr-xxxl-n2,.mx-xxxl-n2{
        margin-right:-8px!important
    }
    .mb-xxxl-n2,.my-xxxl-n2{
        margin-bottom:-8px!important
    }
    .ml-xxxl-n2,.mx-xxxl-n2{
        margin-left:-8px!important
    }
    .m-xxxl-n3{
        margin:-16px!important
    }
    .mt-xxxl-n3,.my-xxxl-n3{
        margin-top:-16px!important
    }
    .mr-xxxl-n3,.mx-xxxl-n3{
        margin-right:-16px!important
    }
    .mb-xxxl-n3,.my-xxxl-n3{
        margin-bottom:-16px!important
    }
    .ml-xxxl-n3,.mx-xxxl-n3{
        margin-left:-16px!important
    }
    .m-xxxl-n4{
        margin:-24px!important
    }
    .mt-xxxl-n4,.my-xxxl-n4{
        margin-top:-24px!important
    }
    .mr-xxxl-n4,.mx-xxxl-n4{
        margin-right:-24px!important
    }
    .mb-xxxl-n4,.my-xxxl-n4{
        margin-bottom:-24px!important
    }
    .ml-xxxl-n4,.mx-xxxl-n4{
        margin-left:-24px!important
    }
    .m-xxxl-n5{
        margin:-48px!important
    }
    .mt-xxxl-n5,.my-xxxl-n5{
        margin-top:-48px!important
    }
    .mr-xxxl-n5,.mx-xxxl-n5{
        margin-right:-48px!important
    }
    .mb-xxxl-n5,.my-xxxl-n5{
        margin-bottom:-48px!important
    }
    .ml-xxxl-n5,.mx-xxxl-n5{
        margin-left:-48px!important
    }
    .m-xxxl-auto{
        margin:auto!important
    }
    .mt-xxxl-auto,.my-xxxl-auto{
        margin-top:auto!important
    }
    .mr-xxxl-auto,.mx-xxxl-auto{
        margin-right:auto!important
    }
    .mb-xxxl-auto,.my-xxxl-auto{
        margin-bottom:auto!important
    }
    .ml-xxxl-auto,.mx-xxxl-auto{
        margin-left:auto!important
    }
}