<template>
    <div>
        <div id="header" class="header">
            <!-- BEGIN container -->
            <!-- <div class="container"> -->
                <!-- BEGIN header-container -->
                <div class="header-container">
                    <!-- BEGIN navbar-toggle -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- END navbar-toggle -->
                    <!-- BEGIN header-logo -->
                    <div class="header-logo">
                        <span class="brand-logo"><img src="/img/cs_favicon.png" alt=""></span>
                        <span class="brand-text">
                            <span>Task Management System</span>
                        </span>
                    </div>
                    <!-- END header-logo -->
                    <!-- BEGIN header-nav -->
                    <div class="header-nav">
                        <ul class="nav" >
                            <li>
                                <router-link to="/home" v-if="getGuardType == 'admins'">Home</router-link>
                                <router-link to="/scholars" v-else>Home</router-link>
                            </li>                                
                            
                            <li class="dropdown dropdown-hover">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- <img src="assets/img/user/user-13.jpg" alt="" />  -->
                                    <span class="d-none d-md-inline">{{ accountData.first_name }} {{ accountData.last_name }}</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- <a href="/api_sample" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> API Sample</a> -->
                                    <a href="/logout" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- END header-nav -->
                </div>
                <!-- END header-container -->
            <!-- </div> -->
            <!-- END container -->
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            accountData      : {},
        }
    },
    computed : {
        getGuardType(){
            return this.$store.state.global_guard_type;
        },
        getGuardRole(){
            return this.$store.state.global_guard_role;
        },
        
    },
    methods: {
        getAccountInfo(){
                console.log(this.$store.state.global_guard_role);
                this.axios.get('/getAccountInfo/'+this.$store.state.global_guard_type)
                .then((response) => {
                    this.accountData = response.data;
                })
                .catch((error) => {
                    console.log(error.response.data)
                })
        },
    },
    created(){
        this.getAccountInfo();
    }
}
</script>