.panel{
    margin-bottom:20px;
    background:#fff;
    border:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    -webkit-border-radius:3px;
    border-radius:3px
}

.panel .panel-heading{
    padding:10px 15px;
    border:none;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    -ms-flex-align:center;
    align-items:center;
    -webkit-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px
}
.panel .panel-heading .panel-title{
    line-height:20px;
    font-size:12px;
    margin-top:0;
    margin-bottom:0;
    color:inherit;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    font-weight: bold;
}
.panel .panel-heading .panel-title>a{
    color:inherit;
    display:block
}
.panel .panel-heading .panel-title>a:focus,.panel .panel-heading .panel-title>a:hover{
    text-decoration:none
}
.panel .panel-heading .panel-title .pull-right{
    line-height:20px
}
.panel .panel-heading .panel-heading-btn{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center
}
.panel .panel-heading .panel-heading-btn>a+a{
    margin-left:5px
}
.panel .panel-heading .panel-heading-btn .btn-icon{
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center
}
.panel .panel-heading .btn-group .btn{
    margin-top:-7px;
    margin-bottom:-7px
}
.panel .panel-heading .btn-group .btn-group-sm>.btn,.panel .panel-heading .btn-group .btn.btn-sm{
    margin-top:-5px;
    margin-bottom:-5px
}
.panel .panel-heading .btn-group .btn.btn-xs{
    margin-top:-1px;
    margin-bottom:-1px
}
.panel .panel-heading .progress{
    min-width:120px
}
.panel .panel-body{
    padding:15px;
    border: 1px solid #dee2e6;
}
.panel .panel-body:after,.panel .panel-body:before{
    content:'';
    display:table;
    clear:both
}
.panel .panel-body.no-padding,.panel .panel-body.panel-form,.panel .panel-body.panel-full-width,.panel .panel-body.panel-table{
    padding:0!important
}
.panel .panel-body.no-border{
    border:none!important
}
.panel .panel-body[class^=bg-]{
    -webkit-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px
}
.panel .panel-toolbar{
    padding:10px 15px;
    background:#fff
}
.panel .panel-footer{
    background:#fff;
    border-top:1px solid #d5dbe0;
    padding:10px 15px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px
}
.panel [class^=col-].ui-sortable{
    min-height:0
}
.panel.panel-default>.panel-heading{
    background:#f2f4f5;
    color:#4e5c68
}
.panel.panel-inverse>.panel-heading{
    background:#1d2226;
    color:#fff
}
.panel.panel-success>.panel-heading{
    background:#008686;
    color:#fff
}
.panel.panel-warning>.panel-heading{
    background:#df880a;
    color:#fff
}
.panel.panel-danger>.panel-heading{
    background:#ff3631;
    color:#fff
}
.panel.panel-primary>.panel-heading{
    background:#1e7cd2;
    color:#fff
}
.panel.panel-info>.panel-heading{
    background:#2ea7cb;
    color:#fff
}
.panel.panel-loading .panel-body{
    position:relative;
    z-index:0
}
.panel.panel-loading .panel-body .panel-loader{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:#fff;
    opacity:.9;
    z-index:10;
    -webkit-animation:fadeIn .2s;
    -moz-animation:fadeIn .2s;
    -ms-animation:fadeIn .2s;
    -o-animation:fadeIn .2s;
    animation:fadeIn .2s;
    -webkit-border-radius:0 0 4px 4px;
    border-radius:0 0 4px 4px
}
.panel.panel-expand{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    overflow:hidden;
    z-index:1080;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-border-radius:0;
    border-radius:0
}